/*
 * From: http://www.webdesignerwall.com/demo/css3-dropdown-menu/
 */

#nav {
	margin: 0;
	/*padding: 7px 6px 0;*/
        padding: 0px 0px 0px; /* top left bottom */
	background: #6666cc /*#7d7d7d url(img/gradient.png) repeat-x 0*/ -110px;
	line-height: 100%;
        width: 100%;
}
#nav li {
	margin: 0 5px;
	/*padding: 0 0 8px;*/
	float: left;
	position: relative;
	list-style: none;
}

/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	/*padding:  8px 20px;*/
        padding: 4px 10px; /* Change height/weight of menu row. */
	margin: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #000;
	color: #fff;
}

#nav .current a, #nav li:hover > a {
        background: #6666ff;
        color: #ffffff;
	//background: #666 url(img/gradient.png) repeat-x 0 -40px;
	//color: #444;
	//border-top: solid 1px #f8f8f8;

	//-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	//-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	//box-shadow: 0 1px 1px rgba(0,0,0, .2);

	//text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #666;
}
#nav ul a:hover {
	background: #0078ff /*#0078ff url(img/gradient.png) repeat-x*/ 0 -100px !important;
	color: #fff !important;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	/*top: 35px;*/
	left: 0;
	background: #ddd /*url(img/gradient.png) repeat-x 0 0*/;
	border: solid 1px #b4b4b4;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
 	height: 1%;
}

